{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
<div class="container">
  <div class="header item">
    Meowmemes.
    <img src="{% static "pictures/4.jpg" %}" width="40vmax" alt="icon">
  </div>
  <div class="sidebar item">
    <ul>
      {%  for key, value in menu.items %}
      <li><a href="{{ value }}">{{ key }}</a></li>
      {% if key == "Posts" %}
      <ul>
        <li><a href="/post/1">Post 1</a></li>
        <li><a href="/post/2">Post 2</a></li>
      </ul>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
  <div class="content item">
    {% block content %}
    {% endblock %}
  </div>
  <div class="footer item">
    Created by Mishina Veronika
  </div>
</div>
</body>
</html>